@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;

  --color-primary: #00ffff;
  /* Cyan */
  --color-secondary: #ff00ff;
  /* Magenta */
  --color-accent: #333333;

  --color-card: #101010;
  --color-card-foreground: #ffffff;

  --color-border: #1a1a1a;

  --font-sans: var(--font-oswald), system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden selection:bg-white selection:text-black;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
    opacity: 0.4;
    mix-blend-mode: overlay;
  }

  ::selection {
    @apply bg-primary/20 text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}